h1{
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 40px;
}

    p{
			width: 25%;
			height: 30px;
			border: 1px;
			border: solid black;
			text-align: center;
			font-weight: bold;
			float: right;
			position: absolute;
			right: -2px;
			top: -2px;
		}
